*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/E4/*  # 新增：白名单E4.1目录下的所有文件
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am

# 例外：允许E4目录下的所有编译产物和build文件夹
!E4/build/
!E4/*.elf
!E4/*.bin
!E4/*.hex
